{% extends 'post/base.html' %} {% block body %}
<div
  class="fixed top-0 right-0 h-full w-3/5 py-5 bg-gray-100 overflow-auto mt-20"
>
  <div class="container mx-auto mt-8">
    <div class="bg-white p-8 rounded-lg shadow">
      <h1 class="text-2xl font-semibold mb-4">Add a New Post</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form}}

        <div>
          <button
            type="submit"
            class="bg-blue-500 text-white px-4 py-2 rounded-full"
          >
            Post
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
