{% extends 'post/base.html' %} {% block body %}
<div
  class="fixed top-0 right-0 h-full w-3/5 py-5 bg-gray-100 overflow-auto mt-20"
>
  <div class="bg-gray-100 h-screen flex items-center justify-center">
    <form
      action="{% url 'login' %}"
      method="POST"
      class="p-6 bg-white shadow-md rounded-md"
    >
      {% csrf_token %}
      <style>
        .input-underline {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;
          background-color: #3182ce;
          transition: width 0.3s ease-in-out;
        }

        input:focus + .input-underline {
          width: 100%;
        }
      </style>
      <div class="flex flex-col items-center space-y-4">
        <div class="w-full relative">
          {{ form.username.label_tag }} {{ form.username }}
          <div class="input-underline"></div>
        </div>
        <div class="w-full relative">
          {{ form.password.label_tag }} {{ form.password }}
          <div class="input-underline"></div>
        </div>
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
